<div class="title_container"><h1 class="web_title">U.S. States by Date of Admission to the Union</h1></div>
<section class="map_section">
	<%= image_tag( asset_path("us_0.gif"), :alt => "us_map", class: "map_image") %>
	<% @states.xpath('//state').each do | state_element | %>
  	<%= image_tag("us_" + state_element.xpath('number').text + ".gif", :alt => "us_map", class: "map_image_hide") %>
	<% end %>
</section>
<section class="timeline_start">
	<div class="tl_container">
		<div class="start_flex">
				<div class="start_container">
					<%= tag("div", class: ["timeline_content tc_end"]) %>
							US before 1787
					</div>
				</div>
		</div>
	</div>
</section>
<section class="timeline_section">
  <div id="timeline_container" class="tl_container">
		<div id="tl_left_div" class="tl_arrow_container tl_left_container noshow"><a class="prevUSstate"><%= image_tag( asset_path("chevron-left.png"), :alt => "left_arrow", class: "left_arrow") %></a></div>
		<div id="tl_right_div" class="tl_arrow_container tl_right_container noshow"><a class="nextUSstate"><%= image_tag( asset_path("chevron-right.png"), :alt => "right_arrow", class: "right_arrow") %></a></div>
		<div class="timeline_flex">
			<div class="timeline_block tb_first tb_end">
				<div class="tc_container">
					<%= tag("div", class: ["timeline_content", "tc_first", "tc_end"], :data => {:map_image => asset_path( "us_0.gif" )}) %>
						US before 1787
					</div>
				</div>
			</div>
   		<% @states.xpath('//state').each do | state_element | %>
			<%= tag("div", id: "state_el_" + state_element.xpath('number').text, class: ["timeline_block", "tb_state", "not-visible"], 
							:data => { 	:state_name => state_element.xpath('name').text ,
													:state_image => asset_path( state_element.xpath('state_image').text  + ".jpg" ), 
											 		:map_image => asset_path( "us_" + state_element.xpath('number').text + ".gif" ), 
													:enter_union => state_element.xpath('month').text + " " + state_element.xpath('day').text + ", " + state_element.xpath('year').text,
											 		:facts_link => state_element.xpath('facts_link').text
												}
							) %>
				<div class="circle"><i class="fa fa-star" aria-hidden="true"></i><span class="num_state"><%= state_element.xpath('number').text %></span></div>
				<div class="arrow-up"></div>
      	<div class="timeline_content tc_state">
					<p class="timeline_date"> <%= state_element.xpath('month').text %> <%= state_element.xpath('day').text %>, <%= state_element.xpath('year').text %></p>
					<%= image_tag( state_element.xpath('state_image').text + ".jpg", class: "state_image") %>
					<p class="state_name"><%= state_element.xpath('name').text %></p>
					<%= button_tag(:class => "state_btn", :type => "button", :data => {state_id: state_element.xpath('number').text} ) do %>
						<i class="fa fa-info-circle" aria-hidden="true"></i> More Info
					<% end %>
      	</div>
   		</div>
   		<% end %>
			<!--div class="timeline_block tb_last tc_end">
				<div class="tc_container">
					<div class="timeline_content tc_last">
						Current Map Displayed
					</div>
				</div>
			</div-->
		</div>
		
  </div>
</section>
<section id="timeline_interactive">
	<div class="start_area">
		<%= button_tag(:class => "timeline_btn", :type => "button", :id => "startTimeline") do %>
			Start
		<% end %>
	</div>
	<div class="interactive_area">
		<div class="btn_area">
			<div class="non_mobile_buttons">
				<%= button_tag(:class => "timeline_btn prevUSstate", :type => "button", :disabled => true) do %>
					<i class="fa fa-arrow-left" aria-hidden="true"></i> Previous State
				<% end %>
				<%= button_tag(:class => "timeline_btn nextUSstate", :type => "button") do %>
					Next State <i class="fa fa-arrow-right" aria-hidden="true"></i>
				<% end %>
			</div>
			<div class="autoplay_area">
				<%= button_tag(:class => "timeline_btn", :type => "button", :id => "reverseUSstate", :disabled => true) do %>
					<i class="fa fa-fast-backward" aria-hidden="true"></i> Reverse 
				<% end %>
				<%= button_tag(:class => "timeline_btn", :type => "button", :id => "stopUSstate", :disabled => true) do %>
					<i class="fa fa-stop-circle-o" aria-hidden="true"></i> Stop
				<% end %>
				<%= button_tag(:class => "timeline_btn", :type => "button", :id => "playUSstate") do %>
					<i class="fa fa-play-circle-o" aria-hidden="true"></i> Play 
				<% end %>
			</div>
		</div>
		<div class="ddl_area">
			<fieldset id="quickSelector">
				<legend class="ddl_title_area">Quick Selector</legend>
				<div class="ddl_state_area">
					<p>Jump to a State</p>
					<select id="ddl_states_name">
						<option value="0" selected="selected" disabled>Select a State</option>
      			<%= @states.xpath('//state').sort_by{ |a| a.xpath('name').text }.each do | state_element | %>
        			<option value="<%= state_element.xpath('number').text %>"><%= state_element.xpath('name').text %></option>
      			<% end %>
    			</select>
				</div>
				<div class="ddl_number_area">
					<p>Jump to the ______ State</p>
					<select id="ddl_states_num">
						<option value="0" selected="selected" disabled>Select a Number</option>
      			<%= @states.xpath('//state').sort_by{ |a| a.xpath('number').text.to_i }.each do | state_element | %>
        			<option value="<%= state_element.xpath('number').text %>"><%= state_element.xpath('number').text %></option>
      			<% end %>
    			</select>
				</div>
			</fieldset>
		</div>
	</div>
</section>
<div id="stateModal" class="modal">
	<div class="modal_content">
		<span id="closeX" class="close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
		<p id="modal_state_name"></p>
		<div class="modal_img_container">
			<img id="modal_state_img" />
		</div>
		<p id="modal_union_date"></p>
		<%= button_tag(:class => "facts_btn", :type => "button", :id => "state_facts") do %>
			State Facts
		<% end %>
	</div>
</div>