<div class="title_container"><h1 class="web_title">U.S. States by Date of Admission to the Union</h1></div>
<section class="map_section">
	<%= image_tag( asset_path("us_0.gif"), :alt => "us_map", class: "map_image") %>
	<% @page.xpath('//state').each do | state_element | %>
  	<%= image_tag("us_" + state_element.xpath('number').text + ".gif", :alt => "us_map", class: "map_image_hide") %>
	<% end %>
</section>
<section class="timeline_section">
  <div id="timeline_container">
		<div class="timeline_flex">
			<div class="timeline_block tb_first">
				<div class="tc_container">
					<%= tag("div", class: ["timeline_content", "tc_first"], :data => {:map_image => asset_path( "us_0.gif" )}) %>
						US before 1787
					</div>
				</div>
			</div>
   		<% @page.xpath('//state').each do | state_element | %>
			<%= tag("div", id: "state_el_" + state_element.xpath('number').text, class: ["timeline_block", "tb_state", "not-visible"], :data => {:state_image => state_element.xpath('image_name').text, :map_image => asset_path( "us_" + state_element.xpath('number').text + ".gif" )}) %>
    	<!--div class="timeline_block tb_state not-visible"-->
				<div class="circle"><i class="fa fa-star" aria-hidden="true"></i><span class="num_state"><%= state_element.xpath('number').text %></span></div>
      	<div class="timeline_date">
          	<%= state_element.xpath('month').text %> <%= state_element.xpath('day').text %>, <%= state_element.xpath('year').text %>
      	</div>
      	<div class="timeline_content tc_state">
					<!--%= image_tag( state_element.xpath('state_image').text) %-->
					<p class="state_name"><%= state_element.xpath('name').text %></p>
      	</div>
   		</div>
   		<% end %>
			<!--div class="timeline_block tb_last">
				<div class="tc_container">
					<div class="timeline_content tc_last">
						Current Map Displayed
					</div>
				</div>
			</div-->
		</div>
  </div>
</section>
<section id="timeline_interactive">
	<div class="btn_area">
		<div>
		<%= button_tag(:class => "timeline_btn", :type => "button", :id => "prevUSstate", :disabled => true) do %>
			<i class="fa fa-arrow-left" aria-hidden="true"></i> Previous State
		<% end %>
		<%= button_tag(:class => "timeline_btn", :type => "button", :id => "nextUSstate") do %>
			Next State <i class="fa fa-arrow-right" aria-hidden="true"></i>
		<% end %>
		</div>
		<div class="autoplay_area">
		<%= button_tag(:class => "timeline_btn", :type => "button", :id => "stopUSstate", :disabled => true) do %>
			<i class="fa fa-stop-circle-o" aria-hidden="true"></i> Stop
		<% end %>
		<%= button_tag(:class => "timeline_btn", :type => "button", :id => "playUSstate") do %>
			<i class="fa fa-play-circle-o" aria-hidden="true"></i> Play 
		<% end %>
	</div>
	</div>
	<div class="ddl_area">
		<fieldset id="quickSelector">
			<legend class="ddl_title_area">Quick Selector</legend>
			<div class="ddl_state_area">
				<p>Jump to a State</p>
				<select id="ddl_states_name">
					<option value="" selected="selected" disabled>Select a State</option>
      		<%= @page.xpath('//state').sort_by{ |a| a.xpath('name').text }.each do | state_element | %>
        		<option value="<%= state_element.xpath('number').text %>"><%= state_element.xpath('name').text %></option>
      		<% end %>
    		</select>
			</div>
			<div class="ddl_number_area">
				<p>Jump to the ______ State</p>
				<select id="ddl_states_num">
					<option value="" selected="selected" disabled>Select a Number</option>
      		<%= @page.xpath('//state').sort_by{ |a| a.xpath('number').text.to_i }.each do | state_element | %>
        		<option value="<%= state_element.xpath('number').text %>"><%= state_element.xpath('number').text %></option>
      		<% end %>
    		</select>
			</div>
		</fieldset>
	</div>
</section>